@import '../../var.sass'

:host
  color: $primary-color
  background-color: $secondary-background-color
  width: 100%
  min-height: 80px
  display: flex
  justify-content: center

  .search
    display: flex
    justify-content: center
    align-items: center
    color: inherit
    background-color: inherit
    width: 570px
    height: 50px
    margin-top: 15px

    .logo
      width: 50px
      height: 50px

    .input-search
      margin-left: 0.5rem
      width: 356px
      height: 25px

    .search-button
      background: $primary-button-color
      color: $primary-button-text
      width: 80px
      height: 25px
      border: solid $primary-button-color

    .search-button:hover
      cursor: pointer
      background-color: $hovered-button-color
      border: solid $hovered-button-color

    .search-settings
      width: 24px
      height: 24px
      margin: auto 5px

    .search-settings:hover
      cursor: pointer
      opacity: 0.8

  .settings
    margin-bottom: 15px
    transition: all 1s

    a
      color: $primary-button-color
      margin: 0 1rem
      text-decoration: underline
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none

      &:hover
        cursor: pointer
        text-decoration: none
        color: $hovered-button-color

      &:active
        color: $active-button-color

      &::selection
        background-color: $secondary-background-color

  input
    border: none
