<header>
  <div class="search">
    <img class="logo" src='../../assets/youtube-logo.svg'>
    <input
      class="input-search"
      type="search"
      placeholder="What are you want to find out?"
      [(ngModel)]="searchReq"
    >
    <button
      class="search-button"
      type="submit"
      (click)="setRequest(searchReq)"
    >
      search
    </button>
    <input
      type="image"
      class="search-settings"
      src='../../assets/search_settings.svg'
      (click)="toggleSettings()"
    />
  <div class="login">
    <span class="username">YourName</span>
    <input
      type="image"
      class="avatar"
      src='../../assets/login.svg'
      (click)="accountSettings()"
    >
  </div>
  </div>
  <div class="settings" *ngIf="showSettings">
    <span>Sorting by:</span>
    <a (click)="sortBy('date')">date</a>
    <a (click)="sortBy('count')">count of view</a>
    <a (click)="filter(sentence)">by word of sentance</a>
    <input
      class="input-sentence"
      type="search"
      [(ngModel)]="sentence"
      (change)="filter(sentence)"
    >
  </div>
</header>
